# Kopiere diese Datei als .env und trage deine eigenen Werte ein
SECRET_KEY='hier_eigenen_secret_key_eintragen'
DEBUG=True
ALLOWED_HOSTS=["localhost","127.0.0.1"]
CORS_ALLOWED_ORIGINS=["http://localhost:5500","http://127.0.0.1:5500"]
