{% extends "accounts/_email_base.html" %}

{% block title %}Welcome to Videoflix{% endblock %}

{% block heading %}Welcome, {{ user.email }}!{% endblock %}

{% block message %}You're just one click away from your Videoflix library. Confirm your registration to activate your account.{% endblock %}

{% block link_url %}{{ activation_link }}{% endblock %}

{% block button_label %}Activate account{% endblock %}

{% block footer_text %}If you didn't create this account, you can safely ignore this email.{% endblock %}
