{% extends "accounts/_email_base.html" %}

{% block title %}Reset your password on Videoflix{% endblock %}

{% block heading %}Reset your password{% endblock %}

{% block message %}Hi {{ user.email }}, we received a request to reset the password for your Videoflix account. Click the button below to set a new password.{% endblock %}

{% block link_url %}{{ reset_link }}{% endblock %}

{% block button_label %}Set new password{% endblock %}

{% block footer_text %}If you didn't request this, you can safely ignore this email.{% endblock %}
